<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyModbusTCP" version="5.6.0" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.5.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.5.0" targetFramework="net472" />
  <package id="ExcelDataReader-OptionalStreams" version="3.4.1" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="NModbus" version="3.0.62" targetFramework="net472" />
</packages>